
#skip {
        left: -1000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
        position: absolute;
}

#skip:focus {
    position: static;
    width: auto;
    height: auto;
}

nav ul li.active {
    background-color: #FFCB05;
    font-size: 24px;
    color: black;

}

header {
    background-color: #00274C;
    color: white;
    padding: 10px;
}


img {
    width: 100%;
}

